<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

  <title>ቂምBook</title>

  <link rel="stylesheet" href="./lib/onsenui/css/onsenui.min.css">
  <link rel="stylesheet" href="./lib/onsenui/css/onsen-css-components.min.css">
  <link rel="stylesheet" href="./css/style.css">

  <!-- <script src="cordova.js"></script> -->
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./lib/onsenui/js/onsenui.min.js"></script>
  <!-- <script src="./lib/onsenui/js/angular-onsenui.min.js"></script> -->
  <script src="./lib/angular/angular-route.min.js"></script>
  <script src="./lib/angular/angular-sqlite.js"></script>

  <script src="./js/script.js"></script>

  <script src="app.js"></script>

</head>
<body ng-app="kimBook">

<ons-splitter>
  <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list >
        <ons-list-item onclick="fn.load('home.html')" tappable>
	      <div class="left">
	        <ons-icon icon="md-home" class="list-item__icon"></ons-icon>
	      </div>
	      <div class="center">
	        Home
	      </div>
        </ons-list-item>
        <ons-list-item onclick="fn.load('settings.html')" tappable>
	      <div class="left">
	        <ons-icon icon="md-settings" class="list-item__icon"></ons-icon>
	      </div>
	      <div class="center">
	        Settings
	      </div>
        </ons-list-item>
        <ons-list-item onclick="fn.load('about.html')" tappable>
	      <div class="left">
	        <ons-icon icon="md-account" class="list-item__icon"></ons-icon>
	      </div>
	      <div class="center">
	        Account
	      </div>
        </ons-list-item>

	    <ons-list-header>About</ons-list-header>

        <ons-list-item onclick="fn.load('about.html')" tappable>
          ቂምBook
        </ons-list-item>
        <ons-list-item onclick="fn.load('about.html')" tappable>
          Gracesoft
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content id="content" page="home.html"></ons-splitter-content>
</ons-splitter>

<ons-template id="home.html" controller="homeCtrl">
	<ons-page>	
		<ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button onclick="fn.open()">
	          <ons-icon icon="md-menu"></ons-icon>
	        </ons-toolbar-button>
	      </div>
		  <div class="center" style="width: 100%;">
		    <ons-if platform="android">ቂምBook</ons-if>
		  </div>
		  <ons-if class="right" platform="android">
		    <ons-toolbar-button ng-click="androidSearchModal.show(); ">
		      <ons-icon icon="md-search"></ons-icon>
		    </ons-toolbar-button>
		   </ons-if>
		</ons-toolbar>


		<ons-modal animation="fade" animation-options="{ duration: 0.15 }" var="androidSearchModal" class="android-search-modal" ng-click="androidSearchModal.hide();">
		  <ons-page ons-show="focusInput('android')">
		    <ons-toolbar class="android-search-bar">
		      <div class="left">
		        <ons-toolbar-button>
		          <ons-icon style="color: black" icon="md-arrow-left"></ons-icon>
		        </ons-toolbar-button>
		      </div>
		      <label class="center" ng-click="$event.stopPropagation()">
		        <form ng-submit="search(true); androidSearchModal.hide();">
		          <ons-input type="search" modifier="transparent" input-id="android-search-input" placeholder="Search KimBook Record" ng-model="query" style="color: white;"></ons-input>
		        </form>
		      </label>
		    </ons-toolbar>
		    <div class="content"></div>
		    <div class="background" style="background-color: transparent"></div>
		  </ons-page>
		</ons-modal>



		<ons-pull-hook id="pull-hook">
		   Pull to refresh
		</ons-pull-hook>


		<ul class="list list--material">
		  <li class="list-item list-item--material list-item--tappable">
		    <div class="list-item__center list-item--material__center">
		      <div class="list-item__title list-item--material__title">Orange</div>
		      <div class="list-item__subtitle list-item--material__subtitle">Sweet fruit that grows on trees.</div>
		    </div>
		  </li>
		  <li class="list-item list-item--material list-item--tappable">
		    <div class="list-item__center list-item--material__center">
		      <div class="list-item__title list-item--material__title">Pear</div>
		      <div class="list-item__subtitle list-item--material__subtitle">Funny-shaped fruit.</div>
		    </div>
		  </li>
		  <li class="list-item list-item--material list-item--tappable">
		    <div class="list-item__center list-item--material__center">
		      <div class="list-item__title list-item--material__title">Teal</div>
		      <div class="list-item__subtitle list-item--material__subtitle">Something great fruit.</div>
		    </div>
		  </li>
		  <li class="list-item list-item--material list-item--tappable">
		    <div class="list-item__center list-item--material__center">
		      <div class="list-item__title list-item--material__title">Apple</div>
		      <div class="list-item__subtitle list-item--material__subtitle">From Chencha area and delicious.</div>
		    </div>
		  </li>
		</ul>

		<ons-fab position="bottom right" ripple>
		  <ons-icon
		    icon="md-plus">
		  </ons-icon>
		</ons-fab>
	</ons-page>
</ons-template>

<ons-template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Settings
      </div>
    </ons-toolbar>
  </ons-page>
</ons-template>

<ons-template id="about.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        About
      </div>
    </ons-toolbar>
  </ons-page>
</ons-template>



</body>
</html>